<link rel="stylesheet" href="/css/homepage.css">

<div class="container-fluid">
    {{#each mappedPosts as |post|}}
    <div class="card mx-auto col-md-6 mt-5 bg-dark">
        <div class="card-body">
            <div class="d-flex justify-content-between card-title mb-3">
                <h5 class="text-light">{{post.title}}</h5>
                <p class="text-light">{{formatDate post.date}}</p>
            </div>
            <p class="mb-3 card-text text-white">{{post.content}}</p>
        </div>
        <div>

        </div>
    </div>
    {{/each}}
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script src="/js/homepage.js"></script>