<link rel="stylesheet" href="/css/login.css">

<div class="container-fluid">
    <div class="card mx-auto col-md-4">
        <div class="card-body">
            <h5 class="card-title text-center">Login</h5>
            <form>
                <input type="text" id="user_name" class="card-text mx-auto row mt-3" placeholder="username">
                <input type="text" id="password" class="card-text mx-auto row mt-3" placeholder="password">
                <input type="submit" class="card-text mx-auto row mt-3" value="Log In">
            </form>
            <div class="text-center mt-3">
                <a class="underlineHover" href="/signup">Sign Up?</a>
            </div>
        </div>
    </div>
</div>

<script src="/js/login.js"></script>