<link rel="stylesheet" href="/css/signup.css">

<div class="container-fluid">
    <div class="card mx-auto col-md-4">
        <div class="card-body">
            <h5 class="card-title text-center">Sign Up</h5>
            <form>
                <input type="text" id="user_name" class="card-text mx-auto row mt-3" placeholder="username">
                <input type="text" id="password" class="card-text mx-auto row mt-3" placeholder="password">
                <input type="text" id="password" class="card-text mx-auto row mt-3" placeholder="confirm password">
                <input type="submit" class="card-text mx-auto row mt-3" value="Sign Up">
            </form>
            <div class="text-center mt-3">
                <a class="underlineHover" href="/login">Login?</a>
            </div>
        </div>
    </div>
</div>

<script src="/js/signup.js"></script>